## Weather Data : Visualization After Smoothing

### For New York State

In [1]:
import pandas as pd
import numpy as np
import sklearn as sk
import urllib
import math
%pylab inline

import findspark
findspark.init()

from pyspark import SparkContext
#sc.stop()
sc = SparkContext(master="local[3]",pyFiles=['lib/numpy_pack.py','lib/spark_PCA.py','lib/computeStatistics.py'])

from pyspark import SparkContext
from pyspark.sql import *
import pyspark.sql
sqlContext = SQLContext(sc)

import numpy as np
from lib.numpy_pack import packArray,unpackArray
from lib.spark_PCA import computeCov
from lib.computeStatistics import *

Populating the interactive namespace from numpy and matplotlib

In [2]:
import warnings  # Suppress Warnings
warnings.filterwarnings('ignore')

_figsize=(10,7)

## Read Data

### Read Raw data for state

In [34]:
state='NE'
data_dir='../Data/Weather'

tarname=state+'.tgz'
parquet=state+'.parquet'

In [35]:
!rm -rf $data_dir/$tarname

command="curl https://mas-dse-open.s3.amazonaws.com/Weather/by_state_2/%s > %s/%s"%(tarname,data_dir,tarname)
print(command)
!$command
!ls -lh $data_dir/$tarname

curl https://mas-dse-open.s3.amazonaws.com/Weather/by_state_2/NE.tgz > ../Data/Weather/NE.tgz
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 63.6M  100 63.6M    0     0   923k      0  0:01:10  0:01:10 --:--:-- 1643k0   772k      0  0:01:24  0:00:58  0:00:26 1683k
-rw-r--r-- 1 jovyan users 64M May 14 01:57 ../Data/Weather/NE.tgz

In [ ]:
def get_data(state):
    
    !ls -l $data_dir
    
    cur_dir,=!pwd
    %cd $data_dir
    !tar -xzf $tarname
    !du -h ./$parquet
    %cd $cur_dir
    
    !du -h $data_dir/$parquet
    
    print(parquet)
    weather_df=sqlContext.read.parquet(data_dir+'/'+parquet)
    
    sqlContext.registerDataFrameAsTable(weather_df,'weather_df')
    
    # get all measurements for years 1970-2010
    year_low = 1970
    year_high = 2010
    measurement = 'TMIN'
    Query="""
    SELECT *
    FROM weather_df
    WHERE Year >='%d' 
    and Year <='%d'
    and Measurement='%s' 
    """%(year_low, year_high, measurement )

    sqlContext.sql(Query).show()

    pandas_df=sqlContext.sql(Query).toPandas()
    pandas_df=pandas_df.set_index('Measurement')
    pandas_df
    
    # Only keep stations which have values for each year in 1970-2010. 
    pandas_df = pandas_df[pandas_df['name'].isin(pandas_df['name'].value_counts()[pandas_df['name'].value_counts()==41].index)]
    
    pandas_df['TEMP_Means'] = list(pd.DataFrame(pandas_df['Values'].values.tolist()).mean(1))

    year_means = pd.DataFrame(pandas_df.groupby('Year')['TEMP_Means'].mean())
    
    return pandas_df, year_means

In [ ]:
weather_df, pandas_df = get_data(state)

In [ ]:
MN_weather_df.to_csv("MN_TMIN_weather_df.csv")
MN_year_means.to_csv("MN_TMIN_year_means_df.csv")

In [4]:
!ls -l $data_dir

total 442668
drwxr-xr-x 10 jovyan users       320 May  4 03:52 decon_NY_SNWD.parquet
drwxr-xr-x 31 jovyan users       992 Apr 19  2018 KS.parquet
-rw-r--r--  1 jovyan users  60682406 May 14 00:51 KS.tgz
drwxr-xr-x 30 jovyan users       960 Apr 19  2018 MN.parquet
-rw-r--r--  1 jovyan users  60550692 May 14 01:49 MN.tgz
drwxr-xr-x 31 jovyan users       992 Apr 19  2018 ND.parquet
-rw-r--r--  1 jovyan users  51874382 May 14 01:38 ND.tgz
drwxr-xr-x 31 jovyan users       992 Apr 19  2018 OK.parquet
-rw-r--r--  1 jovyan users  50981500 May 14 01:34 OK.tgz
drwxr-xr-x 10 jovyan users       320 May  4 03:52 recon_NY_SNWD.parquet
drwxr-xr-x 31 jovyan users       992 Apr 19  2018 SD.parquet
-rw-r--r--  1 jovyan users  57078283 May 14 01:41 SD.tgz
drwxr-xr-x 10 jovyan users       320 May  4 03:52 stations.parquet
-rw-r--r--  1 jovyan users  51365694 May  4 03:52 STAT_NY.pickle
drwxr-xr-x 31 jovyan users       992 Apr 19  2018 TX.parquet
-rw-r--r--  1 jovyan users 114555787 May 14 01:28 TX.tgz
-rw-r--r--  1 jovyan users    731305 May  4 03:52 US_stations.tsv
drwxr-xr-x  7 jovyan users       224 May  4 03:52 Weather_Stations.parquet
-rw-r--r--  1 jovyan users    353056 May  4 03:52 Weather_stations.tgz

In [5]:
cur_dir,=!pwd
%cd $data_dir
!tar -xzf $tarname
!du -h ./$parquet
%cd $cur_dir

/home/jovyan/work/Sections/Data/Weather
70M	./MN.parquet
/home/jovyan/work/Sections/Section2-Weather-PCA

In [6]:
!du -h $data_dir/$parquet

70M	../Data/Weather/MN.parquet

In [7]:
print(parquet)
weather_df=sqlContext.read.parquet(data_dir+'/'+parquet)

MN.parquet

In [8]:
sqlContext.registerDataFrameAsTable(weather_df,'weather_df')

In [26]:
# get all measurements for years 1970-2010
year_low = 1970
year_high = 2010
measurement = 'TMIN'
Query="""
SELECT *
FROM weather_df
WHERE Year >='%d' 
and Year <='%d'
and Measurement='%s' 
"""%(year_low, year_high, measurement )

sqlContext.sql(Query).show()

pandas_df=sqlContext.sql(Query).toPandas()
pandas_df=pandas_df.set_index('Measurement')
pandas_df

+-----------+-----------+----+--------------------+---------------+------------------+------------------+------------------+-----+------+
|    Station|Measurement|Year|              Values|     dist_coast|          latitude|         longitude|         elevation|state|  name|
+-----------+-----------+----+--------------------+---------------+------------------+------------------+------------------+-----+------+
|USC00215392|       TMIN|1970|[90 D5 B0 D8 10 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1971|[80 D4 F0 D6 60 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1972|[30 D5 E0 D8 C8 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1973|[E0 D8 38 D9 E0 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1974|[90 DD 34 DD 14 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1975|[58 D8 80 D8 E0 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1976|[40 D2 A0 D7 20 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1977|[70 DA B0 D8 58 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1978|[00 7E 00 7E 00 7...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1979|[F4 DC 20 DD 20 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1980|[00 D3 E0 D5 08 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1981|[30 D4 08 D9 2C D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1982|[84 DC D0 DB 40 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1983|[30 D5 90 D9 08 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1984|[80 D8 58 D8 28 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1985|[E8 D9 84 DC 40 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1986|[00 D8 40 D6 30 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1987|[E0 D4 E0 D4 40 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1988|[14 DC 48 DB 90 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
|USC00215392|       TMIN|1989|[40 D6 D0 DB 90 D...|1138.2900390625|45.753299713134766|-93.66169738769531|324.29998779296875|   MN|MILACA|
+-----------+-----------+----+--------------------+---------------+------------------+------------------+------------------+-----+------+
only showing top 20 rows

,Station,Year,Values,dist_coast,latitude,longitude,elevation,state,name
Measurement,,,,,,,,,
TMIN,USC00215392,1970,"[144, 213, 176, 216, 16, 218, 16, 218, 88, 220...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1971,"[128, 212, 240, 214, 96, 217, 96, 217, 160, 21...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1972,"[48, 213, 224, 216, 200, 218, 64, 220, 200, 21...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1973,"[224, 216, 56, 217, 224, 212, 72, 219, 152, 22...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1974,"[144, 221, 52, 221, 20, 220, 72, 219, 32, 219,...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1975,"[88, 216, 128, 216, 224, 212, 96, 217, 184, 21...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1976,"[64, 210, 160, 215, 32, 219, 176, 220, 20, 220...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1977,"[112, 218, 176, 216, 88, 216, 72, 219, 232, 21...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1978,"[0, 126, 0, 126, 0, 126, 0, 126, 0, 126, 0, 12...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1979,"[244, 220, 32, 221, 32, 221, 132, 220, 244, 22...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1980,"[0, 211, 224, 213, 8, 217, 160, 214, 224, 212,...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1981,"[48, 212, 8, 217, 44, 220, 0, 220, 108, 220, 4...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1982,"[132, 220, 208, 219, 64, 220, 0, 220, 32, 219,...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1983,"[48, 213, 144, 217, 8, 217, 0, 216, 8, 217, 8,...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1984,"[128, 216, 88, 216, 40, 216, 32, 208, 32, 208,...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1985,"[232, 217, 132, 220, 64, 220, 224, 216, 64, 21...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1986,"[0, 216, 64, 214, 48, 213, 224, 212, 160, 215,...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1987,"[224, 212, 224, 212, 64, 214, 48, 212, 0, 0, 0...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1988,"[20, 220, 72, 219, 144, 217, 20, 220, 152, 220...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1989,"[64, 214, 208, 219, 144, 217, 232, 217, 40, 21...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1990,"[144, 217, 176, 216, 160, 215, 56, 217, 224, 2...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1991,"[72, 219, 20, 220, 20, 220, 64, 220, 72, 219, ...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1992,"[32, 208, 64, 204, 0, 198, 0, 0, 32, 208, 0, 2...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1993,"[176, 220, 88, 220, 48, 213, 64, 218, 232, 217...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1994,"[88, 216, 224, 216, 32, 221, 72, 219, 244, 220...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1995,"[232, 217, 144, 213, 120, 219, 132, 220, 132, ...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1996,"[224, 208, 160, 215, 132, 220, 152, 220, 20, 2...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1997,"[88, 216, 88, 216, 64, 210, 0, 207, 176, 216, ...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1998,"[160, 219, 48, 213, 32, 219, 96, 217, 240, 214...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
TMIN,USC00215392,1999,"[208, 219, 240, 218, 176, 216, 44, 220, 88, 22...",1138.290039,45.753300,-93.661697,324.299988,MN,MILACA
...,...,...,...,...,...,...,...,...,...
TMIN,USC00217602,2009,"[0, 126, 0, 126, 0, 126, 0, 126, 0, 126, 0, 12...",1358.459961,43.630299,-94.774399,402.299988,MN,SHERBURN 3 WSW
TMIN,USC00217602,2010,"[32, 219, 76, 221, 96, 221, 132, 220, 88, 220,...",1358.459961,43.630299,-94.774399,402.299988,MN,SHERBURN 3 WSW
TMIN,USC00215136,1970,"[144, 213, 0, 216, 240, 218, 232, 217, 64, 220...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1971,"[128, 212, 176, 216, 0, 216, 224, 216, 120, 21...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1972,"[224, 212, 40, 216, 152, 218, 88, 220, 0, 220,...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1973,"[0, 126, 184, 217, 160, 214, 152, 218, 152, 22...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1974,"[144, 221, 200, 220, 20, 220, 120, 219, 208, 2...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1975,"[0, 216, 40, 216, 128, 209, 56, 217, 88, 216, ...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1976,"[48, 212, 64, 210, 112, 218, 200, 220, 208, 21...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1977,"[208, 219, 120, 219, 176, 216, 64, 220, 120, 2...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1978,"[160, 219, 32, 219, 160, 219, 200, 218, 96, 21...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1979,"[176, 220, 52, 221, 108, 220, 44, 220, 244, 22...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1980,"[64, 210, 224, 212, 128, 216, 232, 217, 240, 2...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1981,"[48, 212, 224, 216, 0, 220, 64, 220, 200, 218,...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1982,"[152, 220, 32, 219, 0, 220, 112, 218, 32, 219,...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1983,"[144, 213, 40, 216, 56, 217, 16, 218, 0, 216, ...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1984,"[176, 216, 80, 215, 224, 213, 224, 208, 64, 21...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1985,"[144, 217, 88, 220, 0, 220, 144, 213, 240, 214...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00215136,1986,"[8, 217, 240, 214, 160, 214, 224, 213, 176, 21...",1187.859985,45.000000,-93.650002,295.700012,MN,MAPLE PLAIN
TMIN,USC00218947,2000,"[0, 126, 0, 126, 0, 126, 0, 126, 0, 126, 0, 12...",1256.410034,45.861900,-96.565002,312.100006,MN,WHITE ROCK DAM
TMIN,USC00218947,2001,"[0, 126, 72, 219, 56, 217, 80, 215, 32, 208, 0...",1256.410034,45.861900,-96.565002,312.100006,MN,WHITE ROCK DAM
TMIN,USC00218947,2002,"[0, 126, 152, 218, 16, 218, 160, 215, 0, 126, ...",1256.410034,45.861900,-96.565002,312.100006,MN,WHITE ROCK DAM
TMIN,USC00218947,2003,"[0, 126, 144, 213, 64, 214, 0, 126, 0, 126, 22...",1256.410034,45.861900,-96.565002,312.100006,MN,WHITE ROCK DAM
TMIN,USC00218947,2004,"[0, 126, 0, 126, 184, 217, 64, 218, 20, 220, 2...",1256.410034,45.861900,-96.565002,312.100006,MN,WHITE ROCK DAM
TMIN,USC00218947,2005,"[16, 218, 200, 218, 152, 218, 64, 218, 20, 220...",1256.410034,45.861900,-96.565002,312.100006,MN,WHITE ROCK DAM
TMIN,USC00218947,2006,"[64, 210, 128, 209, 224, 208, 64, 204, 128, 20...",1256.410034,45.861900,-96.565002,312.100006,MN,WHITE ROCK DAM
TMIN,USC00218947,2007,"[128, 212, 160, 215, 240, 214, 160, 215, 0, 21...",1256.410034,45.861900,-96.565002,312.100006,MN,WHITE ROCK DAM
TMIN,USC00218947,2008,"[64, 218, 72, 219, 152, 218, 176, 216, 176, 21...",1256.410034,45.861900,-96.565002,312.100006,MN,WHITE ROCK DAM
TMIN,USC00218947,2009,"[200, 220, 120, 219, 152, 218, 0, 220, 0, 220,...",1256.410034,45.861900,-96.565002,312.100006,MN,WHITE ROCK DAM
TMIN,USC00218947,2010,"[220, 220, 164, 221, 164, 221, 32, 221, 208, 2...",1256.410034,45.861900,-96.565002,312.100006,MN,WHITE ROCK DAM

In [27]:
# Only keep stations which have values for each year in 1970-2010. 
pandas_df = pandas_df[pandas_df['name'].isin(pandas_df['name'].value_counts()[pandas_df['name'].value_counts()==41].index)]

In [28]:
#pandas_df.to_csv("TX_TMIN_weather_df.csv")

In [29]:
pandas_df['TEMP_Means'] = list(pd.DataFrame(pandas_df['Values'].values.tolist()).mean(1))

In [30]:

year_means = pd.DataFrame(pandas_df.groupby('Year')['TEMP_Means'].mean())

In [31]:
year_means

      TEMP_Means
Year
1970  124.607032
1971  123.991196
1972  124.540822
1973  120.764438
1974  125.792000
1975  124.726009
1976  125.978484
1977  121.155543
1978  124.488329
1979  125.158594
1980  124.209735
1981  121.776219
1982  124.096201
1983  121.768603
1984  122.037461
1985  123.326594
1986  121.854009
1987  121.024895
1988  125.139196
1989  126.159014
1990  125.412292
1991  122.717881
1992  121.112347
1993  122.989790
1994  121.841406
1995  121.118776
1996  124.976091
1997  124.833297
1998  115.246027
1999  117.295671
2000  120.667105
2001  120.230868
2002  123.702320
2003  119.226027
2004  119.262539
2005  119.956329
2006  120.142612
2007  122.303982
2008  123.688804
2009  119.634721
2010  117.589297

In [32]:
MN_weather_df = pandas_df
MN_year_means = year_means

In [33]:
#ND_weather_df = pandas_df
#ND_year_means = year_means

In [51]:
#SD_weather_df = pandas_df
#SD_year_means = year_means

In [33]:
MN_weather_df.to_csv("MN_TMIN_weather_df.csv")
MN_year_means.to_csv("MN_TMIN_year_means_df.csv")