## Weather Data : Initial Visualization

### For Southern Plains States: Texas, Oklahoma, Kansas

In [4]:
import pandas as pd
import numpy as np
import sklearn as sk
import urllib
import math
%pylab inline

import findspark
findspark.init()

from pyspark import SparkContext
#sc.stop()
sc = SparkContext(master="local[3]",pyFiles=['lib/numpy_pack.py','lib/spark_PCA.py','lib/computeStatistics.py'])

from pyspark import SparkContext
from pyspark.sql import *
import pyspark.sql
sqlContext = SQLContext(sc)

import numpy as np
from lib.numpy_pack import packArray,unpackArray
from lib.spark_PCA import computeCov
from lib.computeStatistics import *

Populating the interactive namespace from numpy and matplotlib

In [5]:
import warnings  # Suppress Warnings
warnings.filterwarnings('ignore')

_figsize=(10,7)

## Read Data

### Read Raw data for state - starting with Texas

In [20]:
state='TX'
data_dir='../Data/Weather'

tarname=state+'.tgz'
parquet=state+'.parquet'

#%mkdir -p $data_dir
#!rm -rf $data_dir/$tarname

#command="curl https://mas-dse-open.s3.amazonaws.com/Weather/by_state/%s > %s/%s"%(tarname,data_dir,tarname)
#print(command)
#!$command
#!ls -lh $data_dir/$tarname

In [21]:
print(parquet)
weather_df=sqlContext.read.parquet(data_dir+'/'+parquet)
#weather_df=weather_df.drop('State') # we drop State because it already exists in "Stations".

TX.parquet

### read statistics information for state.

In [ ]:
#weather_df=weather_df.drop('latitude').drop('longitude').drop('dist_coast').drop('state')
#weather_df.show(3)

In [22]:
sqlContext.registerDataFrameAsTable(weather_df,'jdf')

# get all SNOW (snowfall) measurements for all stations in Texas
measure = 'SNOW'
Query="""
SELECT *
FROM jdf
WHERE Measurement='%s' 
"""%(measure )

#sqlContext.sql(Query).show(5)

In [ ]:
#sqlContext.sql(Query).count()

In [23]:
# get all measurements for years 1970-2010
year_low = 1970
year_high = 2010
measurement = 'SNOW'
Query="""
SELECT *
FROM jdf
WHERE Year >='%d' 
and Year <='%d'
and Measurement='%s' 
"""%(year_low, year_high, measurement )

sqlContext.sql(Query).show(5)

+-----------+-----------+----+--------------------+-----------------+----------------+-------------------+-----------------+-----+----------+
|    Station|Measurement|Year|              Values|       dist_coast|        latitude|          longitude|        elevation|state|      name|
+-----------+-----------+----+--------------------+-----------------+----------------+-------------------+-----------------+-----+----------+
|USC00411416|       SNOW|1970|[00 00 00 00 00 0...|602.5280151367188|30.1382999420166|-104.68219757080078|876.9000244140625|   TX|CANDELARIA|
|USC00411416|       SNOW|1971|[00 00 00 00 00 0...|602.5280151367188|30.1382999420166|-104.68219757080078|876.9000244140625|   TX|CANDELARIA|
|USC00411416|       SNOW|1972|[00 00 00 00 00 0...|602.5280151367188|30.1382999420166|-104.68219757080078|876.9000244140625|   TX|CANDELARIA|
|USC00411416|       SNOW|1973|[00 00 00 7E 00 7...|602.5280151367188|30.1382999420166|-104.68219757080078|876.9000244140625|   TX|CANDELARIA|
|USC00411416|       SNOW|1974|[00 00 00 00 00 0...|602.5280151367188|30.1382999420166|-104.68219757080078|876.9000244140625|   TX|CANDELARIA|
+-----------+-----------+----+--------------------+-----------------+----------------+-------------------+-----------------+-----+----------+
only showing top 5 rows

In [8]:
#sqlContext.sql(Query).count()

17528

## Convert to a Pandas dataframe.

In [24]:
pandas_df=sqlContext.sql(Query).toPandas()
pandas_df=pandas_df.set_index('Measurement')
#pandas_df

In [9]:
pandas_df['name'].value_counts()

CORPUS CHRISTI              46
NACOGDOCHES                 42
TOWN BLUFF DAM              42
BALMORHEA                   41
ROTAN                       41
ELGIN                       41
CLARKSVILLE 2NE             41
LIVINGSTON 2 NNE            41
FALCON DAM                  41
MADISONVILLE                41
ALPINE                      41
WACO DAM                    41
CROCKETT                    41
NAVARRO MILLS DAM           41
MARSHALL                    41
KINGSVILLE NAAS             41
STRATFORD                   41
ALBANY                      41
DANEVANG 1 W                41
LANGTRY                     41
RAYMONDVILLE                41
BAY CITY WTR WKS            41
PERRYTON                    41
FOWLERTON                   41
LULING                      41
DAINGERFIELD 9 S            41
CROSBYTON                   41
POTEET                      41
ROBERT LEE                  41
BALLINGER 2 NW              41
                            ..
LAZY H RCH                   2
PRESIDIO 2                   2
OILTON                       2
GARCIA LAKE 12 ENE           2
DONNA                        2
KAFFIE RCH                   2
LEAKEY 2                     2
NORTH FORK DAM               2
ALPINE 7NW                   2
CHANNING 11 NE               2
NEW BRAUNFELS WFO            1
RANDOLPH AFB                 1
JUNCTION KIMBLE CO AP        1
ABILENE DYESS AFB            1
SAN ANTONIO KELLY AFB        1
ARANSAS WILDLIFE REF         1
TYLER POUNDS FLD             1
LAREDO AFB                   1
PERRIN                       1
WEBB AFB                     1
HOUSTON ELLINGTON AFB        1
LAKE AMENT                   1
FT HOOD                      1
ROBERT GRAY AAF              1
HASLET                       1
PINE SPRINGS NP              1
LAREDO WB AP                 1
REESE AFB                    1
MINERAL WELLS WOLTERS AF     1
DEL RIO LAUGHLIN AFB         1
Name: name, Length: 622, dtype: int64

In [25]:
# Only keep stations which have values for each year in 1970-2010. 
pandas_df = pandas_df[pandas_df['name'].isin(pandas_df['name'].value_counts()[pandas_df['name'].value_counts()==41].index)]
#pandas_df

In [26]:
pandas_df['TX_SNOW_Means'] = list(pd.DataFrame(pandas_df['Values'].values.tolist()).mean(1))
#pandas_df['SNOW_Means']

In [12]:
pandas_df

,Station,Year,Values,dist_coast,latitude,longitude,elevation,state,name,TX_SNOW_Means
Measurement,,,,,,,,,,
SNOW,USC00411416,1970,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1971,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1972,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1973,"[0, 0, 0, 126, 0, 126, 0, 0, 0, 0, 0, 0, 0, 0,...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.517808
SNOW,USC00411416,1974,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1975,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1976,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1977,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1978,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1979,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1980,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,4.832877
SNOW,USC00411416,1981,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1982,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.172603
SNOW,USC00411416,1983,"[0, 126, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.172603
SNOW,USC00411416,1984,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1985,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,5.249315
SNOW,USC00411416,1986,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.172603
SNOW,USC00411416,1987,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1988,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.172603
SNOW,USC00411416,1989,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.172603
SNOW,USC00411416,1990,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1991,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1992,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,5.178082
SNOW,USC00411416,1993,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1994,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1995,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,21.230137
SNOW,USC00411416,1996,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1997,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 126, 0...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.172603
SNOW,USC00411416,1998,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.000000
SNOW,USC00411416,1999,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",602.528015,30.1383,-104.682198,876.900024,TX,CANDELARIA,0.172603
...,...,...,...,...,...,...,...,...,...,...
SNOW,USW00013966,1981,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.000000
SNOW,USW00013966,1982,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.967123
SNOW,USW00013966,1983,"[32, 88, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,1.117808
SNOW,USW00013966,1984,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.198630
SNOW,USW00013966,1985,"[128, 75, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,1.017808
SNOW,USW00013966,1986,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.342466
SNOW,USW00013966,1987,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,1.315068
SNOW,USW00013966,1988,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 192, 87, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.760274
SNOW,USW00013966,1989,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.997260
SNOW,USW00013966,1990,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.471233
SNOW,USW00013966,1991,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.000000
SNOW,USW00013966,1992,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.504110
SNOW,USW00013966,1993,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.194521
SNOW,USW00013966,1994,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.172603
SNOW,USW00013966,1995,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.000000
SNOW,USW00013966,1996,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.000000
SNOW,USW00013966,1997,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 176...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.905479
SNOW,USW00013966,1998,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.308219
SNOW,USW00013966,1999,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.000000
SNOW,USW00013966,2000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.654795
SNOW,USW00013966,2001,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.416438
SNOW,USW00013966,2002,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.469863
SNOW,USW00013966,2003,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.098630
SNOW,USW00013966,2004,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.405479
SNOW,USW00013966,2005,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.000000
SNOW,USW00013966,2006,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.194521
SNOW,USW00013966,2007,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.098630
SNOW,USW00013966,2008,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.000000
SNOW,USW00013966,2009,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.342466
SNOW,USW00013966,2010,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",575.663025,33.9786,-98.492798,310.000000,TX,WICHITA FALLS MUNI AP,0.556164

In [27]:
year_means = pd.DataFrame(pandas_df.groupby('Year')['TX_SNOW_Means'].mean())
year_means

      TX_SNOW_Means
Year
1970       0.684524
1971       1.279367
1972       1.367519
1973       4.240347
1974       1.328049
1975       2.064804
1976       1.204000
1977       1.786174
1978       3.672323
1979       3.046387
1980       2.884104
1981       0.970155
1982       2.428402
1983       2.660566
1984       2.413406
1985       6.046831
1986       3.098332
1987       4.120329
1988       2.993065
1989       1.400499
1990       1.154332
1991       0.767489
1992       1.506874
1993       1.712731
1994       1.900396
1995       1.502417
1996       1.418600
1997       1.727458
1998       1.184828
1999       1.349272
2000       1.305212
2001       1.664189
2002       1.889193
2003       2.708944
2004       2.430630
2005       2.596024
2006       3.018837
2007       3.674466
2008       2.421863
2009       3.628524
2010       2.736055

# Get data for Oklahoma:

In [6]:
state='OK'
data_dir='../Data/Weather'

tarname=state+'.tgz'
parquet=state+'.parquet'

#%mkdir -p $data_dir
#!rm -rf $data_dir/$tarname

#command="curl https://mas-dse-open.s3.amazonaws.com/Weather/by_state/%s > %s/%s"%(tarname,data_dir,tarname)
#print(command)
#!$command
#!ls -lh $data_dir/$tarname

In [7]:
!ls $data_dir

decon_NY_SNWD.parquet	    south_plains_snow_data_large.csv
KS.parquet		    south_plains_snow_data.parquet
KS.tgz			    stations.parquet
ND.parquet		    STAT_NY.pickle
ND.tgz			    STAT_TX.pickle
NY.parquet		    TX.parquet
NY.tgz			    TX.tgz
OK.parquet		    US_stations.tsv
OK.tgz			    Weather_Stations.parquet
recon_NY_SNWD.parquet	    Weather_stations.tgz
south_plains_snow_data	    Weather_Stations.tgz
south_plains_snow_data.csv

In [8]:
OK_weather_df=sqlContext.read.parquet(data_dir+'/'+parquet)

In [9]:
#print('number of rows=',OK_weather_df.cache().count())
#OK_weather_df.show(5)
#OK_weather_df=OK_weather_df.drop('latitude').drop('longitude').drop('dist_coast').drop('state')
#OK_weather_df.show(3)

In [10]:
sqlContext.registerDataFrameAsTable(OK_weather_df,'jdf')

In [11]:
# get all SNOW (snowfall) measurements for all stations in Texas
measure = 'SNOW'
Query="""
SELECT *
FROM jdf
WHERE Measurement='%s' 
"""%(measure )

sqlContext.sql(Query).show(5)

+-----------+-----------+----+--------------------+-----------------+--------------+------------------+-----------------+-----+-----------+
|    Station|Measurement|Year|              Values|       dist_coast|      latitude|         longitude|        elevation|state|       name|
+-----------+-----------+----+--------------------+-----------------+--------------+------------------+-----------------+-----+-----------+
|USC00348951|       SNOW|1942|[00 7E 00 00 00 0...|631.1580200195312|35.13330078125|-97.05000305175781|313.8999938964844|   OK|TRIBBEY 1 N|
|USC00348951|       SNOW|1943|[00 7E 00 7E 00 7...|631.1580200195312|35.13330078125|-97.05000305175781|313.8999938964844|   OK|TRIBBEY 1 N|
|USC00348951|       SNOW|1944|[00 7E 00 7E 00 7...|631.1580200195312|35.13330078125|-97.05000305175781|313.8999938964844|   OK|TRIBBEY 1 N|
|USC00348951|       SNOW|1945|[00 7E 00 7E 00 7...|631.1580200195312|35.13330078125|-97.05000305175781|313.8999938964844|   OK|TRIBBEY 1 N|
|USC00348951|       SNOW|1946|[00 7E 00 7E 00 7...|631.1580200195312|35.13330078125|-97.05000305175781|313.8999938964844|   OK|TRIBBEY 1 N|
+-----------+-----------+----+--------------------+-----------------+--------------+------------------+-----------------+-----+-----------+
only showing top 5 rows

In [12]:
# get all measurements for years 1970-2010
year_low = 1970
year_high = 2010
measurement = 'SNOW'
Query="""
SELECT *
FROM jdf
WHERE Year >='%d' 
and Year <='%d'
and Measurement='%s' 
"""%(year_low, year_high, measurement )

sqlContext.sql(Query).show(5)

+-----------+-----------+----+--------------------+-----------------+----------------+------------------+------------------+-----+------------+
|    Station|Measurement|Year|              Values|       dist_coast|        latitude|         longitude|         elevation|state|        name|
+-----------+-----------+----+--------------------+-----------------+----------------+------------------+------------------+-----+------------+
|USC00345563|       SNOW|1970|[00 7E 00 7E 00 7...|506.7170104980469|33.8760986328125|-97.16419982910156|244.39999389648438|   OK|MARIETTA 5SW|
|USC00345563|       SNOW|1971|[00 00 00 00 00 0...|506.7170104980469|33.8760986328125|-97.16419982910156|244.39999389648438|   OK|MARIETTA 5SW|
|USC00345563|       SNOW|1972|[00 7E 00 7E 00 7...|506.7170104980469|33.8760986328125|-97.16419982910156|244.39999389648438|   OK|MARIETTA 5SW|
|USC00345563|       SNOW|1973|[00 7E 00 7E 00 7...|506.7170104980469|33.8760986328125|-97.16419982910156|244.39999389648438|   OK|MARIETTA 5SW|
|USC00345563|       SNOW|1974|[00 7E 00 7E 00 7...|506.7170104980469|33.8760986328125|-97.16419982910156|244.39999389648438|   OK|MARIETTA 5SW|
+-----------+-----------+----+--------------------+-----------------+----------------+------------------+------------------+-----+------------+
only showing top 5 rows

In [13]:
#Convert to pandas dataframe 

OK_pandas_df=sqlContext.sql(Query).toPandas()
OK_pandas_df=OK_pandas_df.set_index('Measurement')
OK_pandas_df

# Only keep stations which have values for each year in 1970-2010. 
OK_pandas_df = OK_pandas_df[OK_pandas_df['name'].isin(OK_pandas_df['name'].value_counts()[OK_pandas_df['name'].value_counts()==41].index)]
OK_pandas_df


OK_pandas_df['OK_SNOW_Means'] = list(pd.DataFrame(OK_pandas_df['Values'].values.tolist()).mean(1))
#pandas_df['SNOW_Means']

OK_year_means = pd.DataFrame(OK_pandas_df.groupby('Year')['OK_SNOW_Means'].mean())
OK_year_means

      OK_SNOW_Means
Year
1970       2.957012
1971       2.491294
1972       5.918331
1973       9.603262
1974       4.750613
1975       5.406363
1976       1.672909
1977       1.981182
1978       5.714366
1979       7.156146
1980       6.248648
1981       7.620386
1982       5.572999
1983       4.506579
1984       4.366709
1985       4.408652
1986       3.296053
1987       4.025865
1988       2.041763
1989       1.654650
1990       1.429019
1991       1.025433
1992       2.053965
1993       1.789095
1994       2.256182
1995       2.556633
1996       2.385382
1997       3.793619
1998       1.697350
1999       1.513825
2000       3.014329
2001       2.749549
2002       2.907787
2003       2.328965
2004       1.754632
2005       2.165699
2006       3.011193
2007       4.455317
2008       4.941096
2009       5.063771
2010       3.215159

# Get data for Kansas:

In [14]:
state='KS'
data_dir='../Data/Weather'

tarname=state+'.tgz'
parquet=state+'.parquet'

#%mkdir -p $data_dir
#!rm -rf $data_dir/$tarname

#command="curl https://mas-dse-open.s3.amazonaws.com/Weather/by_state/%s > %s/%s"%(tarname,data_dir,tarname)
#print(command)
#!$command
#!ls -lh $data_dir/$tarname

In [ ]:
!ls $data_dir

In [ ]:
cur_dir,=!pwd
%cd $data_dir
!tar -xzf $tarname
!du ./$parquet
%cd $cur_dir

In [15]:
KS_weather_df=sqlContext.read.parquet(data_dir+'/'+parquet)

In [ ]:
#print('number of rows=',KS_weather_df.cache().count())
#KS_weather_df=KS_weather_df.drop('latitude').drop('longitude').drop('dist_coast').drop('state')
#KS_weather_df.show(3)

In [16]:
sqlContext.registerDataFrameAsTable(KS_weather_df,'jdf')

In [17]:
# get all SNOW (snowfall) measurements for all stations in Texas
measure = 'SNOW'
Query="""
SELECT *
FROM jdf
WHERE Measurement='%s' 
"""%(measure )

#sqlContext.sql(Query).show(5)

In [18]:
# get all measurements for years 1970-2010
year_low = 1970
year_high = 2010
measurement = 'SNOW'
Query="""
SELECT *
FROM jdf
WHERE Year >='%d' 
and Year <='%d'
and Measurement='%s' 
"""%(year_low, year_high, measurement )

#sqlContext.sql(Query).show(5)

In [19]:
#Convert to pandas dataframe 

KS_pandas_df=sqlContext.sql(Query).toPandas()
KS_pandas_df=KS_pandas_df.set_index('Measurement')
KS_pandas_df

# Only keep stations which have values for each year in 1970-2010. 
KS_pandas_df = KS_pandas_df[KS_pandas_df['name'].isin(KS_pandas_df['name'].value_counts()[KS_pandas_df['name'].value_counts()==41].index)]
KS_pandas_df


KS_pandas_df['KS_SNOW_Means'] = list(pd.DataFrame(KS_pandas_df['Values'].values.tolist()).mean(1))
#pandas_df['SNOW_Means']

KS_year_means = pd.DataFrame(KS_pandas_df.groupby('Year')['KS_SNOW_Means'].mean())
KS_year_means

      KS_SNOW_Means
Year
1970       3.281713
1971       3.489650
1972       4.299261
1973       5.791292
1974       3.809285
1975       5.163459
1976       1.905229
1977       2.536780
1978       5.170026
1979       5.049554
1980       6.808382
1981       4.376408
1982       5.854653
1983       7.169156
1984       6.271168
1985       6.935356
1986       3.932290
1987       6.489095
1988       3.912622
1989       3.243357
1990       2.673266
1991       2.885442
1992       2.777245
1993       5.143042
1994       3.379996
1995       4.714394
1996       3.406838
1997       5.010948
1998       2.482888
1999       2.024494
2000       3.027734
2001       3.583062
2002       2.568221
2003       3.704566
2004       4.266036
2005       5.208382
2006       2.397771
2007       5.009263
2008       3.152381
2009       5.856784
2010       3.225027

In [ ]:
south_plains_df = pd.concat([year_means, OK_year_means, KS_year_means], axis=1)

In [ ]:
south_plains_df

In [ ]:
#south_plains_df.to_parquet(data_dir+'/'+"south_plains_snow_data.parquet")

In [ ]:
!ls $data_dir

In [ ]:
#south_plains_df.to_csv(data_dir+'/'+"south_plains_snow_data.csv")

In [ ]:
!ls $data_dir

In [28]:
south_plains_big_df = pd.concat([pandas_df, KS_pandas_df, OK_pandas_df])

In [29]:
south_plains_big_df

,KS_SNOW_Means,OK_SNOW_Means,Station,TX_SNOW_Means,Values,Year,dist_coast,elevation,latitude,longitude,name,state
Measurement,,,,,,,,,,,,
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1970,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1971,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1972,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.517808,"[0, 0, 0, 126, 0, 126, 0, 0, 0, 0, 0, 0, 0, 0,...",1973,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1974,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1975,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1976,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1977,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1978,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1979,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,4.832877,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1980,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1981,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.172603,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1982,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.172603,"[0, 126, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",1983,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1984,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,5.249315,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1985,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.172603,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1986,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1987,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.172603,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1988,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.172603,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1989,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1990,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1991,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,5.178082,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1992,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1993,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1994,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,21.230137,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1995,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1996,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.172603,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 126, 0...",1997,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1998,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
SNOW,NaN,NaN,USC00411416,0.172603,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1999,602.528015,876.900024,30.138300,-104.682198,CANDELARIA,TX
...,...,...,...,...,...,...,...,...,...,...,...,...
SNOW,NaN,15.534247,USC00342318,NaN,"[0, 126, 0, 126, 0, 126, 0, 126, 0, 126, 0, 12...",1981,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.654795,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1982,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,1.517808,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1983,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.378082,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1984,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,1.006849,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1985,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,5.005479,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1986,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,3.664384,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1987,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,1.220548,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 96, 88, 144, 85...",1988,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.871233,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1989,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.517808,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1990,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.435616,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 126, 0, 126, 0, 0,...",1991,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.345205,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1992,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.863014,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1993,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,5.350685,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 126, 0...",1994,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,1.102740,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1995,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.978082,USC00342318,NaN,"[0, 0, 0, 84, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1996,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.745205,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1997,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.345205,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1998,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.172603,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1999,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,1.901370,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2000,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.667123,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2001,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.724658,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2002,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,1.482192,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2003,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.293151,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2004,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.421918,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2005,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,1.572603,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2006,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,1.161644,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2007,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,1.193151,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2008,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,1.830137,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2009,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK
SNOW,NaN,0.345205,USC00342318,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 126, 0...",2010,712.883972,289.600006,35.980301,-96.775803,CUSHING,OK

In [30]:
south_plains_big_df.to_csv(data_dir+'/'+"south_plains_snow_data_large.csv")

In [31]:
#south_plains_big_df.to_parquet(data_dir+'/'+"south_plains_snow_data.parquet")

ArrowInvalid: Error inferring Arrow type for Python object array. Got Python object of type bytearray but can only handle these types: string, bool, float, int, date, time, decimal, list, array